/* .heading h1 {
  margin-top: 4rem;
  padding: 0rem 1.5rem;
  font-weight: 200;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
} */
hr {
  width: 96%;
  margin: 0.5rem auto;
  margin-left: 1.7rem;
  border: none;
  border-bottom: 1px solid var(--dark-white);
}
.main-cntr {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 3em;
  /* border: 1px solid grey; */
  font-family: Arial, Helvetica, sans-serif;
}
.calendar-menu {
  width: 100%;
  margin: 0 auto;
}
.calendar-date {
  float: right;
}
.calendar-date input[type="date"] {
  width: 8em;
  margin-right: 0rem;
  font-size: 1em;
  font-weight: 500;
  /* padding: 0 0em; */
  border: 2px solid grey;
  height: 3em;
  outline: none;
  border-radius: 6px;
}
.calendar-date input[type="date"]:focus {
  border: 3px solid rgb(100, 97, 97);
}
.snd-heading.date-dsply {
  font-size: 0.8em;
  font-weight: 500;
  padding-left: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.snd-heading h2 {
  font-weight: 500;
  color: black;
}
.current-date {
  color: rgb(116, 107, 107);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.oprn-container {
  width: 100%;
  position: relative;
  /* display: flex; */
}
.time-hrs {
  width: 99.7%;
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 8px auto;
  z-index: 0;
}
.time-hrs span {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* margin-right: 5px; */
  /* display: inline; */
  width: 17px;
  z-index: 0;
  margin-right: 0.5em;
}
.hour-color {
  width: 100%;
  height: 80px;

  margin: 0 auto;
  background-color: #4ea1a1;
}
/* .calendar-meetings {
  width: 80%;
  margin: 0.3% auto;

} */
.calendar-meeting {
  position: absolute;
  width: 86%;
  margin: 0 auto;
  top: 0%; /* ( 40 + 2 ) * 7 + 20 */ /* (80+ 8)*6*/
  left: 8%;
  height: 76px; /* height= (80*(( 60(30/100))/100))+8px  ( 76+30) */
  margin: 0 0.5em;
  font-size: 1rem;
  background-color: rgb(245, 243, 238);
  z-index: 0;
  padding-left: 1em;
  padding-top: 1em;
  overflow-y: scroll;
  opacity: 0.8;
}
.calendar-meeting1 {
  top: 48.4em;
  height: 76px;
}
.calendar-meeting2 {
  top: 65em; /* ( 40 + 2 ) * 7 + 20 */ /* (80+ 8)*6*/
  height: 128px; /* height= (80*(( 60(30/100))/100))+8px  ( 70+30) */
}

.meeting-title {
  padding-bottom: 0.5em;
  font-weight: 500;
}
.attendees {
  display: inline-block;
  /* overflow: scroll; */
}

@media screen and (min-width: 800px) {
  .heading h1 {
    margin-top: 7rem;
    font-weight: 200;
    font-size: 2.5rem;
    margin-left: 1.6%;
  }
  hr {
    width: 94%;
    margin: 0.5rem auto;
    margin-left: 2.2rem;
  }
  .calendar-date input[type="date"] {
    width: 20em;
    font-size: 1.2em;
    height: 3em;
    border-radius: 8px;
    margin-right: 0.8rem;
  }
  .date-dsply {
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 1rem;
    /* padding-left: 2.7rem; */
  }

  .time-hrs {
    width: 97%;
  }
  .calendar-meeting {
    width: 89%;
    left: 6%;
    overflow: hidden;
  }

  .calendar-meeting1 {
    top: 56.75em;
    height: 75px;
  }

  .calendar-meeting2 {
    top: 73.3em; /* ( 40 + 2 ) * 7 + 20 */ /* (80+ 8)*6*/
    height: 128px; /* height= (80*(( 60(30/100))/100))+8px  ( 70+30) */
  }
}

@media screen and (min-width: 1080px) {
  .heading h1 {
    margin-top: 8rem;
    margin-left: 1.5%;
    font-size: 3rem;
  }
  hr {
    width: 95%;
    margin-left: 2.7rem;
  }

  .calendar-date input[type="date"] {
    margin-right: 1.2rem;
  }

  .calendar-date {
    padding-top: 0.3em;
  }
  .date-dsply {
    font-size: 1em;
    margin-left: 1.3rem;
    /* padding-left: 0.3rem; */
  }
  .snd-heading h2 {
    font-weight: 400;
  }
  .calendar-meeting {
    width: 89%;
  }
}
