/* .snd-heading {
  width: 94%;
  margin: 0 auto;
} */
.heading h1 {
  padding: 0% 3%;
}
hr {
  width: 99%;

  margin: 0 auto;
}

.sub-menu {
  width: 94.2%;
  /* margin-left: 2.3em; */
  margin: 0 auto;
}
.links {
  width: 99%;
  margin: 1rem auto;
  margin-left: 0.2rem;
  padding-left: 0;
  display: inline-block;
  border-bottom: 1px solid rgb(172, 170, 170);
  display: flex;
  flex-flow: row wrap;
}
/* .links {
  border-bottom: none;
} */
.links li {
  list-style-type: none;
  margin-left: 1rem;
  display: flex;
  position: relative;
  top: 1px;
  /* display: inline-block; */
}
.links li a {
  text-decoration: none;
  /* display: block; */
  padding: 0.5em;
  font-size: small;
}
.container {
  width: 93.5%;
  margin: 0 auto;
  padding: 1rem;

  border-radius: 3px;
}
.oprn-container {
  background-color: #4ea1a1;
}
.add-meet-cntr {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 3px;
}
.meet-dtls {
  padding: 0;
}
.meetings-found hr {
  width: 100%;
}
.card {
  margin-top: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
}
.date-time {
  display: flex;
  flex-flow: row wrap;
}
.date-time h4 {
  padding-top: 1rem;
  margin: 0 0;
  font-size: large;

  font-weight: 500;
  padding-right: 0.3em;
  display: flex;
}
.date-time span {
  padding-top: 1.3rem;
  font-size: small;
  display: flex;
  font-weight: 500;
}
.meet-attendees,
.meet-title {
  padding-top: 0.5rem;
  font-size: small;
  display: flex;
  font-weight: 500;
  padding-bottom: 0px;
}
.snd-heading {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}
.snd-heading h2 {
  margin-top: 0;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
}
.snd-heading hr {
  width: 100%;
  margin-left: 0;
}

#add-date,
#description,
#add-members,
#filter-meet {
  width: 100%;
  height: 2rem;
  display: inline-block;
  outline: none;
  margin-bottom: 1rem;
  border: none;
  border-radius: 3px;
}
label {
  display: inline-block;
  font-size: small;
  font-weight: 600;
  margin-bottom: 0.5em;
}
input,
textarea,
button {
  margin-bottom: 1.5em;
}
#description {
  height: 4em;
}
.btn {
  /* width: 30%; */
  /* height: 2.5em; */
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  background-color: rgb(33, 102, 105);
  color: white;
  border: none;
  border-radius: 3px;
  transition: 1s;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background-color: rgb(12, 117, 122);
}
.left-meet,
.success {
  margin: 0.5rem auto;
  padding: 0.5rem 0.5rem;
  font-size: small;
  background-color: red;
}
.left-meet:hover {
  background-color: rgb(173, 20, 20);
}
.success {
  padding: 0.5rem 0.8rem;

  background-color: rgb(33, 102, 105);
}
#add-member {
  margin-bottom: 0.5rem;
}
.note {
  color: white;
  font-size: smaller;
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
}
/* .add-meeting {
  width: 94%;
  margin: 0 auto;
} */

@media screen and (min-width: 800px) {
  .links li a {
    font-size: large;
    padding: 1em;
  }
  .snd-heading h2 {
    font-size: 2rem;
  }
  .heading h1 {
    margin-top: 7rem;
    font-size: 2.5rem;
    padding: 0% 1.5%; /*0rem 0.63rem;*/
    /* margin-left: 1.6%; */
  }
}
