.heading h1 {
  padding: 0% 3%;
}
hr {
  width: 100%;

  margin: 0 auto;
}
.main-cntr {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 3em;
  /* border: 1px solid grey; */
  font-family: Arial, Helvetica, sans-serif;
}
.sub-menu {
  width: 94.2%;
  /* margin-left: 2.3em; */
  margin: 0 auto;
}
.container {
  width: 93.5%;
  margin: 0 auto;
  /* padding: 1rem; */

  border-radius: 3px;
}
.edit-meet-hd {
  padding-top: 1rem;
  font-size: medium;
  color: grey;
  display: flex;
}
.meet-agenda h5 {
  font-size: 1.2rem;
  margin: 1rem 0rem;
  display: flex;
}
.card {
  margin-top: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
}
.meet-descr {
  font-size: medium;
  color: grey;
}

.btn {
  /* width: 30%; */
  /* height: 2.5em; */
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  background-color: rgb(33, 102, 105);
  color: white;
  border: none;
  border-radius: 3px;
  transition: 1s;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background-color: rgb(12, 117, 122);
}
.left-meet,
.success {
  margin: 0.5rem auto;
  padding: 0.5rem 0.5rem;
  font-size: small;
  background-color: red;
}
.left-meet:hover {
  background-color: rgb(173, 20, 20);
}
.success {
  padding: 0.5rem 0.8rem;
  /* display: flex;
  flex-flow: row wrap; */
  background-color: rgb(33, 102, 105);
}
.success:hover {
  background-color: rgb(54, 114, 117);
}
