.heading h1 {
  padding: 0% 3%;
}
hr {
  width: 100%;

  margin: 0 auto;
}
/* Making changes to the nav bar  */
.header {
  padding-bottom: 1.9rem;
}
.main-cntr {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 3em;
  position: relative;
  /* border: 1px solid grey; */
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}
.sub-menu {
  width: 94.2%;
  /* margin-left: 2.3em; */
  margin: 0 auto;
}
.container {
  width: 93.5%;
  margin: 0 auto;
  /* padding: 1rem; */

  border-radius: 3px;
  /* display: flex; */
}
.meetings-attend-or-edit {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.edit-meet-hd {
  padding-top: 1rem;
  font-size: medium;
  color: grey;
  display: flex;
}
.meet-agenda h5 {
  font-size: 1.2rem;
  margin: 1rem 0rem;
  display: flex;
}
.card {
  margin-top: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
  flex: 1 1 100%;
}
.meet-descr {
  display: flex;
  font-size: medium;
  color: grey;
}

.btn {
  /* width: 30%; */
  /* height: 2.5em; */
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  background-color: rgb(33, 102, 105);
  color: white;
  border: none;
  border-radius: 3px;
  transition: 1s;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background-color: rgb(12, 117, 122);
}
.left-meet,
.btn-success {
  margin: 0.5rem auto;
  padding: 0.5rem 0.5rem;
  font-size: small;
  background-color: red;
}
.left-meet:hover {
  background-color: rgb(204, 128, 128);
}

.add-meeting span {
  width: 100%;

  /* margin: 44% 44%; */
  text-align: center;
  font-size: 4em;
  font-weight: 400;
}
.add-metting-card {
  flex: 0 0 10%;
}

.btn-success {
  padding: 0.5rem 0.8rem;
  /* display: flex;
  flex-flow: row wrap; */
  background-color: rgb(33, 102, 105);
}
.btn-success:hover {
  background-color: rgb(54, 114, 117);
}
.card-blank {
  border: none;
}

.add-team-form {
  display: none;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #4ea1a1;
  font-family: "Roboto", sans-serif;
}
.add-team-form h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
.form-grp {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
label {
  font-size: 1rem;
}

#addTeamForm {
  cursor: pointer;
}
#close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: white;
  background-color: rgb(158, 33, 33);
}
.btn-submit {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
}

.form-grp input,
.form-grp textarea {
  outline: none;
  padding: 0.4em 0.6em;

  border-radius: 5px;
  font-size: medium;
}
.form-grp input:focus,
.form-grp textarea:focus {
  border-color: rgb(169, 228, 228);
  border: 2px solid;
}
.form-grp input,
.form-grp textarea {
  margin-bottom: 0.5em;
}
@media screen and (min-width: 350px) {
  .add-team-form {
    left: 5%;
  }
  .form-grp {
    padding-left: 18%;
  }
}
@media screen and (min-width: 400px) {
  .add-team-form {
    left: 8%;
    width: 350px;
  }
  .form-grp {
    padding-left: 20%;
  }
}
@media screen and (min-width: 450px) {
  .add-team-form {
    left: 15%;
  }
}
@media screen and (min-width: 500px) {
  .add-team-form {
    left: 18%;
  }
}
@media screen and (min-width: 650px) {
  .heading h1 {
    margin-top: 7rem;
    font-size: 2.5rem;
    padding: 0% 3.2%; /*0rem 0.63rem;*/
    /* margin-left: 1.6%; */
  }
  .meetings-attend-or-edit {
    justify-content: space-between;
  }
  .card {
    flex: 0 1 48%;
  }
  .add-meeting {
    margin: 39% 0%;
  }
  .add-team-form {
    top: 3%;
    left: 25%;
  }
  .form-grp {
    padding-left: 22%;
  }
}
@media screen and (min-width: 800px) {
  .heading h1 {
    padding: 0% 1.8%;
  }
  .add-team-form {
    left: 30%;
  }
  .form-grp {
    padding-left: 123%;
  }
}
@media screen and (min-width: 950px) {
  /* .meetings-attend-or-edit{
    justify-content: space-between;
  } */
  .card {
    flex: 0 1 32%;
  }

  .add-meeting {
    margin: 44% 0;
  }
  .add-team-form {
    left: 35%;
  }
}
