.heading h1 {
  padding: 0% 3%;
}
hr {
  width: 100%;

  margin: 0 auto;
}
/* Making changes to the nav bar  */
.header {
  padding-bottom: 1.9rem;
}
.main-cntr {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 3em;
  /* border: 1px solid grey; */
  font-family: Arial, Helvetica, sans-serif;
}
.sub-menu {
  width: 94.2%;
  /* margin-left: 2.3em; */
  margin: 0 auto;
}
.container {
  width: 93.5%;
  margin: 0 auto;
  /* padding: 1rem; */

  border-radius: 3px;
  /* display: flex; */
}
.meetings-attend-or-edit {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.edit-meet-hd {
  padding-top: 1rem;
  font-size: medium;
  color: grey;
  display: flex;
}
.meet-agenda h5 {
  font-size: 1.2rem;
  margin: 1rem 0rem;
  display: flex;
}
.card {
  margin-top: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
  flex: 1 1 100%;
}
.meet-descr {
  display: flex;
  font-size: medium;
  color: grey;
}

.btn {
  /* width: 30%; */
  /* height: 2.5em; */
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  background-color: rgb(33, 102, 105);
  color: white;
  border: none;
  border-radius: 3px;
  transition: 1s;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background-color: rgb(12, 117, 122);
}
.left-meet,
.btn-success {
  margin: 0.5rem auto;
  padding: 0.5rem 0.5rem;
  font-size: small;
  background-color: red;
}
.left-meet:hover {
  background-color: rgb(204, 128, 128);
}

.add-meeting span {
  width: 100%;

  /* margin: 44% 44%; */
  text-align: center;
  font-size: 4em;
  font-weight: 400;
}
.add-metting-card {
  flex: 0 0 10%;
}

.btn-success {
  padding: 0.5rem 0.8rem;
  /* display: flex;
  flex-flow: row wrap; */
  background-color: rgb(33, 102, 105);
}
.btn-success:hover {
  background-color: rgb(54, 114, 117);
}
.card-blank {
  border: none;
}
@media screen and (min-width: 650px) {
  .heading h1 {
    margin-top: 7rem;
    font-size: 2.5rem;
    padding: 0% 3.2%; /*0rem 0.63rem;*/
    /* margin-left: 1.6%; */
  }
  .meetings-attend-or-edit {
    justify-content: space-between;
  }
  .card {
    flex: 0 1 48%;
  }
  .add-meeting {
    margin: 39% 0%;
  }
}
@media screen and (min-width: 800px) {
  .heading h1 {
    padding: 0% 1.8%;
  }
}
@media screen and (min-width: 950px) {
  /* .meetings-attend-or-edit{
    justify-content: space-between;
  } */
  .card {
    flex: 0 1 32%;
  }

  .add-meeting {
    margin: 44% 0;
  }
}
